<template id="note-template">
    <div class="note-item bg-gray-100 p-1 rounded-md shadow-sm mb-1">
        <div class="note-header flex items-center space-x-1">
            <span class="note-id font-bold text-sm"></span>
            <span class="note-timestamp text-sm text-gray-600"></span>
            <span class="text-sm">-</span>
            <span class="note-category text-blue-500 text-sm"></span>
        </div>
        <div class="note-error text-red-500 text-xs leading-tight" style="display: none;"></div>
        <div class="note-text-content mt-0.5 text-sm leading-tight"></div>
        <div class="separator"></div>
    </div>
</template>
