<div class="bg-white p-4 shadow-sm flex flex-col">
    <div class="flex flex-row justify-between m-0 p-0">
        <button id="query-modal-button" aria-label="Open Query Modal" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">Query</button>
        <h1 class="text-2xl font-bold text-center text-gray-800">
            <span id="header-title">
                Planner 
            </span>
            <span id="notebook-selector-open-button" class="cursor-pointer text-blue-500">&#9660;<span>
        </h1>
        <button id="filter-modal-button" aria-label="Open Filter Modal" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">Filter</button>
    </div>
    <div class="flex mt-4 space-x-1">
        <button tabindex="1" id="notes-button" aria-label="View Notes" aria-pressed="true" class="tab-button flex-1 bg-blue-500 text-white p-2 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">Notes</button>
        <button tabindex="2" id="todos-button" aria-label="View Todos" aria-pressed="false" class="tab-button flex-1 bg-white text-blue-500 p-2 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">Todos</button>
        <button tabindex="3" id="actions-button" aria-label="View Actions" aria-pressed="false" class="tab-button flex-1 bg-white text-blue-500 p-2 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">Actions</button>
        <button tabindex="4" id="curiosities-button" aria-label="View Curiosities" aria-pressed="false" class="tab-button flex-1 bg-white text-blue-500 p-2 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">Curiosities</button>
    </div>
</div>
