<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-100">
    <div class="flex flex-col min-h-screen max-h-screen p-4">
        {% include 'components/header.html' %}
        {% include 'components/middle_panel.html' %}
        {% include 'components/note_input.html' %}
    </div>
    {% include 'components/modals/query_modal.html' %}
    {% include 'components/modals/filter_modal.html' %}
    {% include 'components/modals/data_modal.html' %}
    {% include 'components/templates/note_template.html' %}
    {% include 'components/templates/todo_template.html' %}
    {% include 'components/templates/action_template.html' %}
    {% include 'components/templates/curiosity_template.html' %}
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
