<div id="add-new-notebook-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden" role="dialog" aria-labelledby="filter-modal-title" aria-modal="true">
    <div id="add-new-notebook-content" class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg relative">
        <input id="add-new-notebook-name-input" type="text" placeholder="Enter notebook name" class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4" aria-label="New Notebook Name">
        <button id="add-new-notebook-submit-button" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600 focus:ring-2 focus:ring-blue-500" aria-label="Add New Notebook">
            <span class="icon">+</span> Add Notebook
    </div>
</div>
